* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100svh;
    background: black;
}

.view3d {
    height: 100%;
    width: 100%;
}

input[type="color"] {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
    height: 10rem;
    width: 10rem;
    margin: 25px;
    border: 0;
}

input[type="color"]::-webkit-color-swatch{
    border: 5px solid white;
    border-radius: 15px;
}